html {
  background-color: white;
  color: black;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

header, body {
  margin: 5%;
}

/*rotate-words*/

.spinny-wrapper{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  
}

.spinny-words{
  display: inline-block;
  min-width: 350px;
  text-align: left;
}
.spinny-words span{
  position: absolute;
  font-weight: bold;
  top: 150px;
  opacity: 0;    
  animation: rotateWord 18s linear infinite 0s;
}
.spinny-words span:nth-child(2) { 
  animation-delay: 3s; 
}
.spinny-words span:nth-child(3) { 
  animation-delay: 6s; 
}
.spinny-words span:nth-child(4) { 
  animation-delay: 9s; 
}
.spinny-words span:nth-child(5) { 
  animation-delay: 12s; 
}
.spinny-words span:nth-child(6) { 
  animation-delay: 15s; 
}
.spinny-words span:nth-child(7) { 
  animation-delay: 18s; 
}
@keyframes rotateWord {
0%   { opacity: 0; }
2%   { opacity: 0; transform: translateY(-30px); }
5%   { opacity: 1; transform: translateY(0px);}
17%  { opacity: 1; transform: translateY(0px); }
20%  { opacity: 0; transform: translateY(30px); }
80%  { opacity: 0; }
100% { opacity: 0; }
}

/*flex-box*/

.flexbox-container {
  display: flex;
}

.flexbox-item {
  width: 200px;
  height: 10px;
  background-color: #326771;
}


.flexbox-item-2 {
  height: 10px;
  background-color: #931621;
}

/*sections*/

.section#one {
  background-color: white;
  margin-top: -5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  height: 480px;
}

.section#two {
  background-color:white;
  margin: 5%;
  height: auto;
}

.section#two {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 50% 50%;
}

.section#two > .text {
  grid-column: 1 / 2;
}

.section#two > .graph {
  grid-column: 2 / 3;
}

.section#three {
  background-color:white;
  margin: 5%;
  height: auto;
}

.section#three {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 50% 50%;
}

.section#three > .graph {
  grid-column: 1 / 2;
}

.section#three > .text {
  grid-column: 2 / 3;
}

#myBorder {
  height:10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  background-color: #326771;
}
#myBorder div {
  text-align: center;
  padding: 0px 0;
  font-size: 30px;
}
.item1 {
  grid-column: 1 / 2;
}

.item2 {
  grid-column: 2 / 3;
  background-color: #931621
}
/* section#one viz=usa */

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: white;
}

.exterior {
  stroke: #bbbbbb;
}

.airport {
  fill: white;
  opacity: 0.6;
  stroke: #252525;
}

.flight {
  fill: none;
  stroke: #326771;
  stroke-width: 1px;
  stroke-opacity: 0.1;
}

.voronoi {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}

.highlight {
  opacity: 1 !important;
  stroke: #931621 !important;
  stroke-width: 2px !important;
  stroke-opacity: 0.8 !important;
}

g#voronoi {
  pointer-events: all;
}

#tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
}

/* section#two viz=linechart */

.node circle {
  fill: #fff;
  stroke: #931621;
  stroke-width: 1px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #326771;
  stroke-width: 2px;
}

/* section#three viz=globe */

.land {
  fill: #326771;
  stroke-opacity: 1;
}

.countries path {
  stroke: rgba(0, 0, 0, .1);
  stroke-linejoin: round;
  stroke-width: .5;
  fill: transparent;
}

.countries path:hover {
  stroke: rgba(0, 0, 0, .6);
  fill-opacity: .3;
  fill: white;
}

.graticule {
  fill: none;
  stroke: black;
  stroke-width: .5;
  opacity: .2;
}

.labels {
  font: 8px sans-serif;
  fill: black;
  opacity: .5;
}

.noclicks {
  pointer-events: none;
}

.point {
  opacity: .6;
}

.arcs {
  opacity: .1;
  stroke: gray;
  stroke-width: 3;
}

.flyers {
  stroke-width: 1;
  opacity: 5;
  stroke: #931621;
}

.arc,
.flyer {
  stroke-linejoin: round;
  fill: none;
}

.arc {}

.flyer {}

.flyer:hover {}